numpy
pandas
scipy
scikit-learn
scikit-optimize
scikit-image
pillow
matplotlib
seaborn
gensim
category_encoders
#ast
#pickle
pyspellchecker
nltk
gensim
nbdime
transformers
torch  
xgboost
hyperopt
datasets
evaluate
accelerate